 <!-- <h1 align="center">LOGIN</h1>
<div class="">

  <%= form_for(:session, :html => {class:"form-horizantal",role: "form"}, url: login_path) do |form| %>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email ,placeholder:"enter email" %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password ,placeholder:"enter password"%>
  </div>

  <div class="actions">
    <%= form.submit "Log in"%>
  </div>
  <% end %>
</div> -->

<div class="login-page">
  <%= form_for(:session, :html => {class:"form-horizantal",role: "form"}, url: login_path) do |form| %>
  <div class="form">
    
    <div class="form-title">
      <p>LOGIN</p>
    </div>
    <form class="login-form">
      <div class="text-left">
        <%= form.label :email %>
      </div>
      <%= form.email_field :email ,placeholder:"enter email" %>
      <div class="text-left">
        <%= form.label :password %>
      </div>
      <%= form.password_field :password ,placeholder:"enter password"%>
      
      <button>login</button>
      <p class="message">Not registered? <%= link_to 'Sign Up',signup_path %></p>
    </form>
  </div>
  <% end %>
</div>
<!-- <form class="register-form">
      <input type="text" placeholder="name"/>
      <input type="password" placeholder="password"/>
      <input type="text" placeholder="email address"/>
      <button>create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form> -->