
<h1 align="center">Users</h1>
<div class="text-center">
  <%= will_paginate @users%>
</div>
<div class="container">
    <table class="table table-font">
      <thead>
        <tr>
          <th>Username</th>
          <th>Email</th>
          <th colspan="3">Actions</th>
        </tr>
      </thead>


      <tbody>
        <% @users.each do |user| %>
          <tr class="table-font">
            <td><%= user.username %></td>
            <td><%= user.email %></td>
            <td>
            <%= link_to 'Show', user %>
            <% if logged_in? && current_user.admin?%>
            <%= link_to 'Edit', edit_user_path(user) %>
            <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
<div class="text-center">
  <%= will_paginate @users%>
</div>
