<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :order_number %>
    <%= form.text_field :order_number %>
  </div>

  <div class="field">
    <%= form.label :order_date %>
    <%= form.date_select :order_date %>
  </div>

  <div class="field">
    <%= form.label :order_total %>
    <%= form.text_field :order_total %>
  </div>

  <div class="field">
    <%= form.label :order_type %>
    <%= form.text_field :order_type %>
  </div>

  <div class="field col-xs-12" >
  <%= form.label :product_id %>
  <%= form.select :product_id, options_for_select(Product.all.collect{|c| [c.pname,c.id]}) %>
  </div>

  <div class="field col-xs-12" >
  <%= form.label :user_id %>
  <%= form.select :user_id, options_for_select(User.all.collect{|c| [c.username,c.id]}) %>
  </div>
  <div class="field col-xs-12" >
  <%= form.label :address %>
  <%= form.select :address_id, options_for_select(Address.all.collect{|c| [c.street,c.id]}) %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
