<p id="notice"><%= notice %></p>

<p>
  <strong>Pname:</strong>
  <%= @product.pname %>
</p>

<p>
  <strong>Pprice:</strong>
  <%= @product.pprice %>
</p>

<p>
  <strong>Psku:</strong>
  <%= @product.psku %>
</p>

<p>
  <strong>Pimage:</strong>
  <%= image_tag(@product.pimage) %>
</p>

<%
=begin%>
 <%= link_to 'Edit', edit_product_path(@product) %> |
<%
=end%>
<%= link_to 'Back', products_path %>
